body {
    margin: 0;
}

.container {
    padding: 0 3rem;
}

#pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 135px);
    grid-gap: 25px 20px;
    justify-content: space-between;
}

.pokemon-title {
    margin: 0;
}

.pokemon-card {
    text-align: center;
    cursor: pointer;
}

.pokemon-card > img {
    display: inline-block;
    width: 100%;
}

#pagination {
    text-align: end;
}

#pagination > div {
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem;
}